<h2> All the reviews of <%= @product.title %> </h2>
<%= link_to "Add New Review", new_product_review_path(@product) %> 
<p> <img src=<%=@product.img %>></p>



 <%= render partial: 'reviews/iteration', locals: { info: @product.reviews } %>